@inherits LayoutComponentBase
@using CobolStudioGui.Constants
@using AppColors = CobolStudioGui.Constants.Colors
@using AppText = CobolStudioGui.Constants.Text

<RadzenLayout style="height: 100vh;">
    <RadzenSidebar style="width: 200px;">
        <RadzenStack Orientation="Orientation.Vertical" Gap="0" class="p-3" style="height: 100%;">
            <RadzenText TextStyle="TextStyle.H6" style="@($"color: {AppColors.White}; text-align: center; display: block;")">@AppText.AppLabel</RadzenText>
            <RadzenText TextStyle="TextStyle.Overline" style="@($"font-size: 0.72rem; color: {AppColors.Ivory}; text-align: center; display: block;")" class="mb-2">@AppInfo.BuildDate</RadzenText>
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
                <RadzenPanelMenuItem Text="Browse Cobol" Icon="description" Path="/browse-cobol" />
                <RadzenPanelMenuItem Text="Browse Python" Icon="code" Path="/browse-python" />
                <RadzenPanelMenuItem Text="Console" Icon="terminal" Path="/console" />
            </RadzenPanelMenu>
        </RadzenStack>
    </RadzenSidebar>
    <RadzenBody>
        <div class="p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenComponents />
